apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-spring
  labels:
    app: test-spring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-spring
  template:
    metadata:
      labels:
        app: test-spring
    spec:
      containers:
      - name: test-spring
        image: test-spring:1
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: test-spring-service
spec:
  selector:
    app: test-spring
  type: LoadBalancer  
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30000
